<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Jollicow Đặt món tại bàn</title>
    <link rel="icon" type="image/x-icon" href="~/lib/svg/fav.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/menu.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Jollicow.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="d-flex flex-row justify-content-between align-items-center" style="padding: 12px">
            <a class="logo" style="text-decoration: none; font-size: 24px; font-weight: bold;"
                href="@Url.Action("Menu", "Menu", new { id_table = ViewData["IdTable"], restaurant_id = ViewData["RestaurantId"] })">JolliServe</a>
            <a href="@Url.Action("CartDetail", "Cart", new { id_table = ViewData["IdTable"], restaurant_id = ViewData["RestaurantId"] })"
                class="cart-element d-flex flex-row" style="gap: 12px; text-decoration: none; cursor: pointer;">
                <img src="~/lib/svg/Bill.svg" alt="Giỏ hàng" class="cart-icon" />
                <p id="cartTotalPrice">0đ</p>
            </a>
        </nav>
    </header>
    <div class="container">
        <main>
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/cart.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
