@using System.Net
@{
    ViewData["Title"] = "Chuyển khoản VietQR";
    var idTable = ViewData["IdTable"]?.ToString() ?? "";
    var restaurantId = ViewData["RestaurantId"]?.ToString() ?? "";
    var paymentInfo = ViewData["PaymentInfo"] as PaymentInfo;
    var amount = ViewData["Amount"] != null ? Convert.ToInt32(ViewData["Amount"]) : 0;
    var description = ViewData["Description"]?.ToString() ?? "";
    var accountName = paymentInfo?.AccountName ?? "";

    @* Mã hóa để tránh lỗi khi chuyển khoản *@
    var encodedName = WebUtility.UrlEncode(accountName);
    var encodedDesc = WebUtility.UrlEncode(description);
}
@if (string.IsNullOrEmpty(idTable) || string.IsNullOrEmpty(restaurantId))
{
    <div class="alert alert-danger mt-5">Không hợp lệ!</div>
}
else
{
    <div class="container mt-5" style="max-width: 500px;">
        <div class="card shadow">
            <div class="card-body text-center">
                <h3 class="mb-3 fw-bold">Chuyển khoản VietQR</h3>
                <div class="mb-3">
                    <img src="https://img.vietqr.io/image/MB-0389105492-print.jpg?amount=@amount&addInfo=@encodedDesc&accountName=@encodedName"
                        alt="VietQR" class="img-fluid" style="; max-height: 400px;"
                        onerror="this.onerror=null;this.src='https://img.vietqr.io/image/VCB-123456789-compact2.png?amount=100000&addInfo=Demo';" />
                </div>

                <div class="action-field d-flex flex-column gap-3">
                    <form asp-controller="Payment mt-3" asp-action="Create" method="post">
                        <input type="hidden" name="acsc" value="@Context.Request.Query["acsc"]" />
                        <button type="submit" class="btn btn-success w-100">Đã thanh toán</button>
                    </form>
                    <a href="@Url.Action("CartDetail", "Cart", new { acsc = Context.Request.Query["acsc"] })"
                        class="btn btn-secondary">Quay lại giỏ hàng</a>
                </div>
            </div>
        </div>
    </div>
}